.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-form::after {
  content: "";
  height: 1px;
  width: 1140px;
  background-color: rgba(170, 170, 170, 0.2);
}
.search-form__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1140px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  padding: 10px 10px 10px 25px;
  margin: 70px 0 26px 0;
}
.search-form__input {
  color: rgba(139, 139, 139, 1);
  width: 995px;
  border: none;
  box-sizing: border-box;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.search-form__input::-webkit-input-placeholder {
  color: rgba(139, 139, 139, 1);
}
.search-form__button {
  border: none;
  width: 100px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #4285f4;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  transition: 0.3s linear;
  cursor: pointer;
}
.search-form__button:hover {
  opacity: 0.8;
}
